{
  "name": "plagu33.github.io",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "assets/import.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"assets/css/import.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-ruby-sass\":{\"enabled\":true,\"outputStyle\":\"nested\",\"lineNumbers\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "assets"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "assets/import.scss",
      "imports": [
        "assets/bourbon/_bourbon.scss",
        "assets/bootstrap/bootstrap.scss",
        "assets/bourbon/settings/_deprecation-warnings.scss",
        "assets/bourbon/settings/_prefixer.scss",
        "assets/bourbon/settings/_px-to-em.scss",
        "assets/bourbon/settings/_asset-pipeline.scss",
        "assets/bourbon/_bourbon-deprecate.scss",
        "assets/bourbon/functions/_assign-inputs.scss",
        "assets/bourbon/functions/_contains.scss",
        "assets/bourbon/functions/_contains-falsy.scss",
        "assets/bourbon/functions/_is-length.scss",
        "assets/bourbon/functions/_is-light.scss",
        "assets/bourbon/functions/_is-number.scss",
        "assets/bourbon/functions/_is-size.scss",
        "assets/bourbon/functions/_px-to-em.scss",
        "assets/bourbon/functions/_px-to-rem.scss",
        "assets/bourbon/functions/_shade.scss",
        "assets/bourbon/functions/_strip-units.scss",
        "assets/bourbon/functions/_tint.scss",
        "assets/bourbon/functions/_transition-property-name.scss",
        "assets/bourbon/functions/_unpack.scss",
        "assets/bourbon/functions/_modular-scale.scss",
        "assets/bourbon/helpers/_convert-units.scss",
        "assets/bourbon/helpers/_directional-values.scss",
        "assets/bourbon/helpers/_font-source-declaration.scss",
        "assets/bourbon/helpers/_gradient-positions-parser.scss",
        "assets/bourbon/helpers/_linear-angle-parser.scss",
        "assets/bourbon/helpers/_linear-gradient-parser.scss",
        "assets/bourbon/helpers/_linear-positions-parser.scss",
        "assets/bourbon/helpers/_linear-side-corner-parser.scss",
        "assets/bourbon/helpers/_radial-arg-parser.scss",
        "assets/bourbon/helpers/_radial-positions-parser.scss",
        "assets/bourbon/helpers/_radial-gradient-parser.scss",
        "assets/bourbon/helpers/_render-gradients.scss",
        "assets/bourbon/helpers/_shape-size-stripper.scss",
        "assets/bourbon/helpers/_str-to-num.scss",
        "assets/bourbon/css3/_animation.scss",
        "assets/bourbon/css3/_appearance.scss",
        "assets/bourbon/css3/_backface-visibility.scss",
        "assets/bourbon/css3/_background.scss",
        "assets/bourbon/css3/_background-image.scss",
        "assets/bourbon/css3/_border-image.scss",
        "assets/bourbon/css3/_calc.scss",
        "assets/bourbon/css3/_columns.scss",
        "assets/bourbon/css3/_filter.scss",
        "assets/bourbon/css3/_flex-box.scss",
        "assets/bourbon/css3/_font-face.scss",
        "assets/bourbon/css3/_font-feature-settings.scss",
        "assets/bourbon/css3/_hidpi-media-query.scss",
        "assets/bourbon/css3/_hyphens.scss",
        "assets/bourbon/css3/_image-rendering.scss",
        "assets/bourbon/css3/_keyframes.scss",
        "assets/bourbon/css3/_linear-gradient.scss",
        "assets/bourbon/css3/_perspective.scss",
        "assets/bourbon/css3/_placeholder.scss",
        "assets/bourbon/css3/_radial-gradient.scss",
        "assets/bourbon/css3/_selection.scss",
        "assets/bourbon/css3/_text-decoration.scss",
        "assets/bourbon/css3/_transform.scss",
        "assets/bourbon/css3/_transition.scss",
        "assets/bourbon/css3/_user-select.scss",
        "assets/bourbon/addons/_border-color.scss",
        "assets/bourbon/addons/_border-radius.scss",
        "assets/bourbon/addons/_border-style.scss",
        "assets/bourbon/addons/_border-width.scss",
        "assets/bourbon/addons/_buttons.scss",
        "assets/bourbon/addons/_clearfix.scss",
        "assets/bourbon/addons/_ellipsis.scss",
        "assets/bourbon/addons/_font-stacks.scss",
        "assets/bourbon/addons/_hide-text.scss",
        "assets/bourbon/addons/_margin.scss",
        "assets/bourbon/addons/_padding.scss",
        "assets/bourbon/addons/_position.scss",
        "assets/bourbon/addons/_prefixer.scss",
        "assets/bourbon/addons/_retina-image.scss",
        "assets/bourbon/addons/_size.scss",
        "assets/bourbon/addons/_text-inputs.scss",
        "assets/bourbon/addons/_timing-functions.scss",
        "assets/bourbon/addons/_triangle.scss",
        "assets/bourbon/addons/_word-wrap.scss",
        "assets/bourbon/_bourbon-deprecated-upcoming.scss",
        "assets/bootstrap/_variables.scss",
        "assets/bootstrap/_mixins.scss",
        "assets/bootstrap/_custom.scss",
        "assets/bootstrap/_normalize.scss",
        "assets/bootstrap/_print.scss",
        "assets/bootstrap/_reboot.scss",
        "assets/bootstrap/_type.scss",
        "assets/bootstrap/_images.scss",
        "assets/bootstrap/_code.scss",
        "assets/bootstrap/_grid.scss",
        "assets/bootstrap/_tables.scss",
        "assets/bootstrap/_forms.scss",
        "assets/bootstrap/_buttons.scss",
        "assets/bootstrap/_transitions.scss",
        "assets/bootstrap/_dropdown.scss",
        "assets/bootstrap/_button-group.scss",
        "assets/bootstrap/_input-group.scss",
        "assets/bootstrap/_custom-forms.scss",
        "assets/bootstrap/_nav.scss",
        "assets/bootstrap/_navbar.scss",
        "assets/bootstrap/_card.scss",
        "assets/bootstrap/_breadcrumb.scss",
        "assets/bootstrap/_pagination.scss",
        "assets/bootstrap/_badge.scss",
        "assets/bootstrap/_jumbotron.scss",
        "assets/bootstrap/_alert.scss",
        "assets/bootstrap/_progress.scss",
        "assets/bootstrap/_media.scss",
        "assets/bootstrap/_list-group.scss",
        "assets/bootstrap/_responsive-embed.scss",
        "assets/bootstrap/_close.scss",
        "assets/bootstrap/_modal.scss",
        "assets/bootstrap/_tooltip.scss",
        "assets/bootstrap/_popover.scss",
        "assets/bootstrap/_carousel.scss",
        "assets/bootstrap/_utilities.scss",
        "assets/bootstrap/mixins/_breakpoints.scss",
        "assets/bootstrap/mixins/_hover.scss",
        "assets/bootstrap/mixins/_image.scss",
        "assets/bootstrap/mixins/_badge.scss",
        "assets/bootstrap/mixins/_resize.scss",
        "assets/bootstrap/mixins/_screen-reader.scss",
        "assets/bootstrap/mixins/_size.scss",
        "assets/bootstrap/mixins/_reset-text.scss",
        "assets/bootstrap/mixins/_text-emphasis.scss",
        "assets/bootstrap/mixins/_text-hide.scss",
        "assets/bootstrap/mixins/_text-truncate.scss",
        "assets/bootstrap/mixins/_transforms.scss",
        "assets/bootstrap/mixins/_visibility.scss",
        "assets/bootstrap/mixins/_alert.scss",
        "assets/bootstrap/mixins/_buttons.scss",
        "assets/bootstrap/mixins/_cards.scss",
        "assets/bootstrap/mixins/_pagination.scss",
        "assets/bootstrap/mixins/_lists.scss",
        "assets/bootstrap/mixins/_list-group.scss",
        "assets/bootstrap/mixins/_nav-divider.scss",
        "assets/bootstrap/mixins/_forms.scss",
        "assets/bootstrap/mixins/_table-row.scss",
        "assets/bootstrap/mixins/_background-variant.scss",
        "assets/bootstrap/mixins/_border-radius.scss",
        "assets/bootstrap/mixins/_gradients.scss",
        "assets/bootstrap/mixins/_clearfix.scss",
        "assets/bootstrap/mixins/_navbar-align.scss",
        "assets/bootstrap/mixins/_grid-framework.scss",
        "assets/bootstrap/mixins/_grid.scss",
        "assets/bootstrap/mixins/_float.scss",
        "assets/bootstrap/utilities/_align.scss",
        "assets/bootstrap/utilities/_background.scss",
        "assets/bootstrap/utilities/_borders.scss",
        "assets/bootstrap/utilities/_clearfix.scss",
        "assets/bootstrap/utilities/_display.scss",
        "assets/bootstrap/utilities/_flex.scss",
        "assets/bootstrap/utilities/_float.scss",
        "assets/bootstrap/utilities/_position.scss",
        "assets/bootstrap/utilities/_screenreaders.scss",
        "assets/bootstrap/utilities/_sizing.scss",
        "assets/bootstrap/utilities/_spacing.scss",
        "assets/bootstrap/utilities/_text.scss",
        "assets/bootstrap/utilities/_visibility.scss"
      ]
    },
    {
      "path": "assets/imports.js",
      "imports": [
        "assets/tether/tether.js",
        "assets/jquery/jquery.js",
        "assets/bootstrap/js/bootstrap.js"
      ]
    },
    {
      "path": "assets/bootstrap/_mixins.scss",
      "imports": [
        "assets/bootstrap/mixins/_breakpoints.scss",
        "assets/bootstrap/mixins/_hover.scss",
        "assets/bootstrap/mixins/_image.scss",
        "assets/bootstrap/mixins/_badge.scss",
        "assets/bootstrap/mixins/_resize.scss",
        "assets/bootstrap/mixins/_screen-reader.scss",
        "assets/bootstrap/mixins/_size.scss",
        "assets/bootstrap/mixins/_reset-text.scss",
        "assets/bootstrap/mixins/_text-emphasis.scss",
        "assets/bootstrap/mixins/_text-hide.scss",
        "assets/bootstrap/mixins/_text-truncate.scss",
        "assets/bootstrap/mixins/_transforms.scss",
        "assets/bootstrap/mixins/_visibility.scss",
        "assets/bootstrap/mixins/_alert.scss",
        "assets/bootstrap/mixins/_buttons.scss",
        "assets/bootstrap/mixins/_cards.scss",
        "assets/bootstrap/mixins/_pagination.scss",
        "assets/bootstrap/mixins/_lists.scss",
        "assets/bootstrap/mixins/_list-group.scss",
        "assets/bootstrap/mixins/_nav-divider.scss",
        "assets/bootstrap/mixins/_forms.scss",
        "assets/bootstrap/mixins/_table-row.scss",
        "assets/bootstrap/mixins/_background-variant.scss",
        "assets/bootstrap/mixins/_border-radius.scss",
        "assets/bootstrap/mixins/_gradients.scss",
        "assets/bootstrap/mixins/_clearfix.scss",
        "assets/bootstrap/mixins/_navbar-align.scss",
        "assets/bootstrap/mixins/_grid-framework.scss",
        "assets/bootstrap/mixins/_grid.scss",
        "assets/bootstrap/mixins/_float.scss"
      ]
    },
    {
      "path": "assets/bootstrap/_reboot.scss",
      "imports": [
        "assets/bootstrap/bootstrap.scss",
        "assets/bootstrap/_variables.scss",
        "assets/bootstrap/_mixins.scss",
        "assets/bootstrap/_custom.scss",
        "assets/bootstrap/_normalize.scss",
        "assets/bootstrap/_print.scss",
        "assets/bootstrap/_type.scss",
        "assets/bootstrap/_images.scss",
        "assets/bootstrap/_code.scss",
        "assets/bootstrap/_grid.scss",
        "assets/bootstrap/_tables.scss",
        "assets/bootstrap/_forms.scss",
        "assets/bootstrap/_buttons.scss",
        "assets/bootstrap/_transitions.scss",
        "assets/bootstrap/_dropdown.scss",
        "assets/bootstrap/_button-group.scss",
        "assets/bootstrap/_input-group.scss",
        "assets/bootstrap/_custom-forms.scss",
        "assets/bootstrap/_nav.scss",
        "assets/bootstrap/_navbar.scss",
        "assets/bootstrap/_card.scss",
        "assets/bootstrap/_breadcrumb.scss",
        "assets/bootstrap/_pagination.scss",
        "assets/bootstrap/_badge.scss",
        "assets/bootstrap/_jumbotron.scss",
        "assets/bootstrap/_alert.scss",
        "assets/bootstrap/_progress.scss",
        "assets/bootstrap/_media.scss",
        "assets/bootstrap/_list-group.scss",
        "assets/bootstrap/_responsive-embed.scss",
        "assets/bootstrap/_close.scss",
        "assets/bootstrap/_modal.scss",
        "assets/bootstrap/_tooltip.scss",
        "assets/bootstrap/_popover.scss",
        "assets/bootstrap/_carousel.scss",
        "assets/bootstrap/_utilities.scss",
        "assets/bootstrap/mixins/_breakpoints.scss",
        "assets/bootstrap/mixins/_hover.scss",
        "assets/bootstrap/mixins/_image.scss",
        "assets/bootstrap/mixins/_badge.scss",
        "assets/bootstrap/mixins/_resize.scss",
        "assets/bootstrap/mixins/_screen-reader.scss",
        "assets/bootstrap/mixins/_size.scss",
        "assets/bootstrap/mixins/_reset-text.scss",
        "assets/bootstrap/mixins/_text-emphasis.scss",
        "assets/bootstrap/mixins/_text-hide.scss",
        "assets/bootstrap/mixins/_text-truncate.scss",
        "assets/bootstrap/mixins/_transforms.scss",
        "assets/bootstrap/mixins/_visibility.scss",
        "assets/bootstrap/mixins/_alert.scss",
        "assets/bootstrap/mixins/_buttons.scss",
        "assets/bootstrap/mixins/_cards.scss",
        "assets/bootstrap/mixins/_pagination.scss",
        "assets/bootstrap/mixins/_lists.scss",
        "assets/bootstrap/mixins/_list-group.scss",
        "assets/bootstrap/mixins/_nav-divider.scss",
        "assets/bootstrap/mixins/_forms.scss",
        "assets/bootstrap/mixins/_table-row.scss",
        "assets/bootstrap/mixins/_background-variant.scss",
        "assets/bootstrap/mixins/_border-radius.scss",
        "assets/bootstrap/mixins/_gradients.scss",
        "assets/bootstrap/mixins/_clearfix.scss",
        "assets/bootstrap/mixins/_navbar-align.scss",
        "assets/bootstrap/mixins/_grid-framework.scss",
        "assets/bootstrap/mixins/_grid.scss",
        "assets/bootstrap/mixins/_float.scss",
        "assets/bootstrap/utilities/_align.scss",
        "assets/bootstrap/utilities/_background.scss",
        "assets/bootstrap/utilities/_borders.scss",
        "assets/bootstrap/utilities/_clearfix.scss",
        "assets/bootstrap/utilities/_display.scss",
        "assets/bootstrap/utilities/_flex.scss",
        "assets/bootstrap/utilities/_float.scss",
        "assets/bootstrap/utilities/_position.scss",
        "assets/bootstrap/utilities/_screenreaders.scss",
        "assets/bootstrap/utilities/_sizing.scss",
        "assets/bootstrap/utilities/_spacing.scss",
        "assets/bootstrap/utilities/_text.scss",
        "assets/bootstrap/utilities/_visibility.scss"
      ]
    },
    {
      "path": "assets/bootstrap/_utilities.scss",
      "imports": [
        "assets/bootstrap/utilities/_align.scss",
        "assets/bootstrap/utilities/_background.scss",
        "assets/bootstrap/utilities/_borders.scss",
        "assets/bootstrap/utilities/_clearfix.scss",
        "assets/bootstrap/utilities/_display.scss",
        "assets/bootstrap/utilities/_flex.scss",
        "assets/bootstrap/utilities/_float.scss",
        "assets/bootstrap/utilities/_position.scss",
        "assets/bootstrap/utilities/_screenreaders.scss",
        "assets/bootstrap/utilities/_sizing.scss",
        "assets/bootstrap/utilities/_spacing.scss",
        "assets/bootstrap/utilities/_text.scss",
        "assets/bootstrap/utilities/_visibility.scss"
      ]
    },
    {
      "path": "assets/bootstrap/bootstrap-grid.scss",
      "imports": [
        "assets/bootstrap/_variables.scss",
        "assets/bootstrap/mixins/_clearfix.scss",
        "assets/bootstrap/mixins/_breakpoints.scss",
        "assets/bootstrap/mixins/_grid-framework.scss",
        "assets/bootstrap/mixins/_grid.scss",
        "assets/bootstrap/_custom.scss",
        "assets/bootstrap/_grid.scss"
      ]
    },
    {
      "path": "assets/bootstrap/bootstrap-reboot.scss",
      "imports": [
        "assets/bootstrap/_variables.scss",
        "assets/bootstrap/_mixins.scss",
        "assets/bootstrap/_custom.scss",
        "assets/bootstrap/_normalize.scss",
        "assets/bootstrap/_reboot.scss",
        "assets/bootstrap/mixins/_breakpoints.scss",
        "assets/bootstrap/mixins/_hover.scss",
        "assets/bootstrap/mixins/_image.scss",
        "assets/bootstrap/mixins/_badge.scss",
        "assets/bootstrap/mixins/_resize.scss",
        "assets/bootstrap/mixins/_screen-reader.scss",
        "assets/bootstrap/mixins/_size.scss",
        "assets/bootstrap/mixins/_reset-text.scss",
        "assets/bootstrap/mixins/_text-emphasis.scss",
        "assets/bootstrap/mixins/_text-hide.scss",
        "assets/bootstrap/mixins/_text-truncate.scss",
        "assets/bootstrap/mixins/_transforms.scss",
        "assets/bootstrap/mixins/_visibility.scss",
        "assets/bootstrap/mixins/_alert.scss",
        "assets/bootstrap/mixins/_buttons.scss",
        "assets/bootstrap/mixins/_cards.scss",
        "assets/bootstrap/mixins/_pagination.scss",
        "assets/bootstrap/mixins/_lists.scss",
        "assets/bootstrap/mixins/_list-group.scss",
        "assets/bootstrap/mixins/_nav-divider.scss",
        "assets/bootstrap/mixins/_forms.scss",
        "assets/bootstrap/mixins/_table-row.scss",
        "assets/bootstrap/mixins/_background-variant.scss",
        "assets/bootstrap/mixins/_border-radius.scss",
        "assets/bootstrap/mixins/_gradients.scss",
        "assets/bootstrap/mixins/_clearfix.scss",
        "assets/bootstrap/mixins/_navbar-align.scss",
        "assets/bootstrap/mixins/_grid-framework.scss",
        "assets/bootstrap/mixins/_grid.scss",
        "assets/bootstrap/mixins/_float.scss",
        "assets/bootstrap/bootstrap.scss",
        "assets/bootstrap/_print.scss",
        "assets/bootstrap/_type.scss",
        "assets/bootstrap/_images.scss",
        "assets/bootstrap/_code.scss",
        "assets/bootstrap/_grid.scss",
        "assets/bootstrap/_tables.scss",
        "assets/bootstrap/_forms.scss",
        "assets/bootstrap/_buttons.scss",
        "assets/bootstrap/_transitions.scss",
        "assets/bootstrap/_dropdown.scss",
        "assets/bootstrap/_button-group.scss",
        "assets/bootstrap/_input-group.scss",
        "assets/bootstrap/_custom-forms.scss",
        "assets/bootstrap/_nav.scss",
        "assets/bootstrap/_navbar.scss",
        "assets/bootstrap/_card.scss",
        "assets/bootstrap/_breadcrumb.scss",
        "assets/bootstrap/_pagination.scss",
        "assets/bootstrap/_badge.scss",
        "assets/bootstrap/_jumbotron.scss",
        "assets/bootstrap/_alert.scss",
        "assets/bootstrap/_progress.scss",
        "assets/bootstrap/_media.scss",
        "assets/bootstrap/_list-group.scss",
        "assets/bootstrap/_responsive-embed.scss",
        "assets/bootstrap/_close.scss",
        "assets/bootstrap/_modal.scss",
        "assets/bootstrap/_tooltip.scss",
        "assets/bootstrap/_popover.scss",
        "assets/bootstrap/_carousel.scss",
        "assets/bootstrap/_utilities.scss",
        "assets/bootstrap/utilities/_align.scss",
        "assets/bootstrap/utilities/_background.scss",
        "assets/bootstrap/utilities/_borders.scss",
        "assets/bootstrap/utilities/_clearfix.scss",
        "assets/bootstrap/utilities/_display.scss",
        "assets/bootstrap/utilities/_flex.scss",
        "assets/bootstrap/utilities/_float.scss",
        "assets/bootstrap/utilities/_position.scss",
        "assets/bootstrap/utilities/_screenreaders.scss",
        "assets/bootstrap/utilities/_sizing.scss",
        "assets/bootstrap/utilities/_spacing.scss",
        "assets/bootstrap/utilities/_text.scss",
        "assets/bootstrap/utilities/_visibility.scss"
      ]
    },
    {
      "path": "assets/bootstrap/bootstrap.scss",
      "imports": [
        "assets/bootstrap/_variables.scss",
        "assets/bootstrap/_mixins.scss",
        "assets/bootstrap/_custom.scss",
        "assets/bootstrap/_normalize.scss",
        "assets/bootstrap/_print.scss",
        "assets/bootstrap/_reboot.scss",
        "assets/bootstrap/_type.scss",
        "assets/bootstrap/_images.scss",
        "assets/bootstrap/_code.scss",
        "assets/bootstrap/_grid.scss",
        "assets/bootstrap/_tables.scss",
        "assets/bootstrap/_forms.scss",
        "assets/bootstrap/_buttons.scss",
        "assets/bootstrap/_transitions.scss",
        "assets/bootstrap/_dropdown.scss",
        "assets/bootstrap/_button-group.scss",
        "assets/bootstrap/_input-group.scss",
        "assets/bootstrap/_custom-forms.scss",
        "assets/bootstrap/_nav.scss",
        "assets/bootstrap/_navbar.scss",
        "assets/bootstrap/_card.scss",
        "assets/bootstrap/_breadcrumb.scss",
        "assets/bootstrap/_pagination.scss",
        "assets/bootstrap/_badge.scss",
        "assets/bootstrap/_jumbotron.scss",
        "assets/bootstrap/_alert.scss",
        "assets/bootstrap/_progress.scss",
        "assets/bootstrap/_media.scss",
        "assets/bootstrap/_list-group.scss",
        "assets/bootstrap/_responsive-embed.scss",
        "assets/bootstrap/_close.scss",
        "assets/bootstrap/_modal.scss",
        "assets/bootstrap/_tooltip.scss",
        "assets/bootstrap/_popover.scss",
        "assets/bootstrap/_carousel.scss",
        "assets/bootstrap/_utilities.scss",
        "assets/bootstrap/mixins/_breakpoints.scss",
        "assets/bootstrap/mixins/_hover.scss",
        "assets/bootstrap/mixins/_image.scss",
        "assets/bootstrap/mixins/_badge.scss",
        "assets/bootstrap/mixins/_resize.scss",
        "assets/bootstrap/mixins/_screen-reader.scss",
        "assets/bootstrap/mixins/_size.scss",
        "assets/bootstrap/mixins/_reset-text.scss",
        "assets/bootstrap/mixins/_text-emphasis.scss",
        "assets/bootstrap/mixins/_text-hide.scss",
        "assets/bootstrap/mixins/_text-truncate.scss",
        "assets/bootstrap/mixins/_transforms.scss",
        "assets/bootstrap/mixins/_visibility.scss",
        "assets/bootstrap/mixins/_alert.scss",
        "assets/bootstrap/mixins/_buttons.scss",
        "assets/bootstrap/mixins/_cards.scss",
        "assets/bootstrap/mixins/_pagination.scss",
        "assets/bootstrap/mixins/_lists.scss",
        "assets/bootstrap/mixins/_list-group.scss",
        "assets/bootstrap/mixins/_nav-divider.scss",
        "assets/bootstrap/mixins/_forms.scss",
        "assets/bootstrap/mixins/_table-row.scss",
        "assets/bootstrap/mixins/_background-variant.scss",
        "assets/bootstrap/mixins/_border-radius.scss",
        "assets/bootstrap/mixins/_gradients.scss",
        "assets/bootstrap/mixins/_clearfix.scss",
        "assets/bootstrap/mixins/_navbar-align.scss",
        "assets/bootstrap/mixins/_grid-framework.scss",
        "assets/bootstrap/mixins/_grid.scss",
        "assets/bootstrap/mixins/_float.scss",
        "assets/bootstrap/utilities/_align.scss",
        "assets/bootstrap/utilities/_background.scss",
        "assets/bootstrap/utilities/_borders.scss",
        "assets/bootstrap/utilities/_clearfix.scss",
        "assets/bootstrap/utilities/_display.scss",
        "assets/bootstrap/utilities/_flex.scss",
        "assets/bootstrap/utilities/_float.scss",
        "assets/bootstrap/utilities/_position.scss",
        "assets/bootstrap/utilities/_screenreaders.scss",
        "assets/bootstrap/utilities/_sizing.scss",
        "assets/bootstrap/utilities/_spacing.scss",
        "assets/bootstrap/utilities/_text.scss",
        "assets/bootstrap/utilities/_visibility.scss"
      ]
    },
    {
      "path": "assets/bourbon/_bourbon.scss",
      "imports": [
        "assets/bourbon/settings/_deprecation-warnings.scss",
        "assets/bourbon/settings/_prefixer.scss",
        "assets/bourbon/settings/_px-to-em.scss",
        "assets/bourbon/settings/_asset-pipeline.scss",
        "assets/bourbon/_bourbon-deprecate.scss",
        "assets/bourbon/functions/_assign-inputs.scss",
        "assets/bourbon/functions/_contains.scss",
        "assets/bourbon/functions/_contains-falsy.scss",
        "assets/bourbon/functions/_is-length.scss",
        "assets/bourbon/functions/_is-light.scss",
        "assets/bourbon/functions/_is-number.scss",
        "assets/bourbon/functions/_is-size.scss",
        "assets/bourbon/functions/_px-to-em.scss",
        "assets/bourbon/functions/_px-to-rem.scss",
        "assets/bourbon/functions/_shade.scss",
        "assets/bourbon/functions/_strip-units.scss",
        "assets/bourbon/functions/_tint.scss",
        "assets/bourbon/functions/_transition-property-name.scss",
        "assets/bourbon/functions/_unpack.scss",
        "assets/bourbon/functions/_modular-scale.scss",
        "assets/bourbon/helpers/_convert-units.scss",
        "assets/bourbon/helpers/_directional-values.scss",
        "assets/bourbon/helpers/_font-source-declaration.scss",
        "assets/bourbon/helpers/_gradient-positions-parser.scss",
        "assets/bourbon/helpers/_linear-angle-parser.scss",
        "assets/bourbon/helpers/_linear-gradient-parser.scss",
        "assets/bourbon/helpers/_linear-positions-parser.scss",
        "assets/bourbon/helpers/_linear-side-corner-parser.scss",
        "assets/bourbon/helpers/_radial-arg-parser.scss",
        "assets/bourbon/helpers/_radial-positions-parser.scss",
        "assets/bourbon/helpers/_radial-gradient-parser.scss",
        "assets/bourbon/helpers/_render-gradients.scss",
        "assets/bourbon/helpers/_shape-size-stripper.scss",
        "assets/bourbon/helpers/_str-to-num.scss",
        "assets/bourbon/css3/_animation.scss",
        "assets/bourbon/css3/_appearance.scss",
        "assets/bourbon/css3/_backface-visibility.scss",
        "assets/bourbon/css3/_background.scss",
        "assets/bourbon/css3/_background-image.scss",
        "assets/bourbon/css3/_border-image.scss",
        "assets/bourbon/css3/_calc.scss",
        "assets/bourbon/css3/_columns.scss",
        "assets/bourbon/css3/_filter.scss",
        "assets/bourbon/css3/_flex-box.scss",
        "assets/bourbon/css3/_font-face.scss",
        "assets/bourbon/css3/_font-feature-settings.scss",
        "assets/bourbon/css3/_hidpi-media-query.scss",
        "assets/bourbon/css3/_hyphens.scss",
        "assets/bourbon/css3/_image-rendering.scss",
        "assets/bourbon/css3/_keyframes.scss",
        "assets/bourbon/css3/_linear-gradient.scss",
        "assets/bourbon/css3/_perspective.scss",
        "assets/bourbon/css3/_placeholder.scss",
        "assets/bourbon/css3/_radial-gradient.scss",
        "assets/bourbon/css3/_selection.scss",
        "assets/bourbon/css3/_text-decoration.scss",
        "assets/bourbon/css3/_transform.scss",
        "assets/bourbon/css3/_transition.scss",
        "assets/bourbon/css3/_user-select.scss",
        "assets/bourbon/addons/_border-color.scss",
        "assets/bourbon/addons/_border-radius.scss",
        "assets/bourbon/addons/_border-style.scss",
        "assets/bourbon/addons/_border-width.scss",
        "assets/bourbon/addons/_buttons.scss",
        "assets/bourbon/addons/_clearfix.scss",
        "assets/bourbon/addons/_ellipsis.scss",
        "assets/bourbon/addons/_font-stacks.scss",
        "assets/bourbon/addons/_hide-text.scss",
        "assets/bourbon/addons/_margin.scss",
        "assets/bourbon/addons/_padding.scss",
        "assets/bourbon/addons/_position.scss",
        "assets/bourbon/addons/_prefixer.scss",
        "assets/bourbon/addons/_retina-image.scss",
        "assets/bourbon/addons/_size.scss",
        "assets/bourbon/addons/_text-inputs.scss",
        "assets/bourbon/addons/_timing-functions.scss",
        "assets/bourbon/addons/_triangle.scss",
        "assets/bourbon/addons/_word-wrap.scss",
        "assets/bourbon/_bourbon-deprecated-upcoming.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": false,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": false,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"ruby-sass\",\"autoprefixer\",\"minify-css\"],\"sourceMap\":true}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"uglify-js\",\"babel\",\"uglify-js\"],\"sourceMap\":true}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}